//
   Created by moshensky on 6/29/15.

template
  modal(showing.bind="confirmShowing" options.bind="{ backdrop: 'static' }")
    modal-header(title="Name Goes Here" close.call="onConfirmCancelClick()")
    modal-body(content-view.bind="view-model-name-goes-here" content-model.bind="model-name-goes-here")
    modal-footer
      button.btn(click.trigger="onConfirmOkClick()") Ok
      au-button(text="Cancel" click.call="onConfirmCancelClick()")
