template
    script(src="jspm_packages/github/petkaantonov/bluebird@2.9.27/js/browser/bluebird.js")
    require(from='./nav-bar')

    nav-bar(router.bind="router")

    div.page-host(style="background: white;")
        router-view
